.header
    width: 95%
    margin: 5% 0 0 5%
    background: white
    background: linear-gradient(to left, rgba(255,255,255,0.8) 1%, white)
    // background: url(./img/back-gradient.png) repeat-y
    border-top-left-radius: 50px

    @media (min-width: $tablet)
        border-top-left-radius: 100px 

.portrait-wrap
    width: 100%
    display: flex
    flex-direction: row
    justify-content: space-between

    img
        width: 100px
        height: 100px
        border-radius: 50%
        margin: 10px 0 0 10px

        @media (min-width: $tablet)
            width: 150px
            height: 150px
            margin: 20px 0 0 20px

.title
    margin: 25px 10%

    p
        font-family: $heading-font
        font-weight: 300
        color: $heading-color
        font-size: 24px
        text-align: right
        text-transform: uppercase
        padding: 0
        margin: 0

        @media (min-width: $tablet)
            font-size: 36px

.name
    width: 80%
    margin: 0 10%

    @media (min-width: 450px)
        width: 50%
        margin: 0 40% 0 10%

    @media (min-width: $tablet)
        width: 180px
        margin: -50px 0 0 180px
    
    h1
        font-family: $heading-font
        font-weight: 300
        color: $name-color
        font-size: 14px
        text-align: right
        padding: 0
        margin: 0

        @media (min-width: $tablet)
            font-size: 18px

    h4
        font-family: $body-font
        color: $heading-color
        font-weight: 300
        font-size: 8px
        text-align: right
        padding: 0
        margin: 5px 0 0 0

        @media (min-width: $tablet)
            font-size: 10px

.name-line
    right: 0
    height: 1px
    background: $line-color
    width: 100%
    padding: 0
    margin: 10px 0 0 0

    @media (min-width: $tablet)
        width: 180px
