.main
    width: 95%
    margin: 0 5% 0 5%
    background: white
    background: linear-gradient(to left, rgba(255,255,255,0.8) 1%, white)
    // background: url(./img/back-gradient.png) repeat-y
    border-bottom-left-radius: 50px

    @media (min-width: $tablet)
        border-bottom-left-radius: 75px

.main-text-wrap
    width: 80%
    padding: 25px 10% 50px 10%

    @media (min-width: $tablet)
        width: 75%
        padding: 25px 0 50px 10%

    @media (min-width: 800px)
        width: 65%

    @media (min-width: $desktop)
        width: 55%

    p
        font-family: $body-font
        color: $body-color
        font-size: 12px
        line-height: 1.8
        text-indent: 15px
        width: 100%

        @media (min-width: $tablet)
            font-size: 14px
            text-indent: 25px

.main-line
    height: 1px
    background: $heading-color
    width: 85%
    margin: 25px 0 25px 6%